@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4E14EE;
  --gradient-default: linear-gradient(180deg, #0040FF 0%, #6484E2 100%);

  .border-custom-gray {
    border-color: var(--color-gray-400);
  }
}

.dark {
  --background: #1F052E;
  --foreground: #ffffff;

  .border-custom-gray {
    border-color: var(--color-gray-200);
  }
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}

/* Background colors */
.bg-primary {background-color: var(--background);}
.border-primary {border-color: var(--background)};

/* Text */
.text-foreground {color: var(--foreground);}
.text-primary {color: var(--primary);}

.font-lilita {
  font-family: var(--font-lilita);
}

.bg-gradient {
  background: var(--gradient-default);
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}

.chapter-card {
  transition: all 0.3s ease;
}

.chapter-card:hover {
  transform: translateY(-4px);
}

.lesson-circle {
  transition: all 0.3s ease;
}

.lesson-circle:hover {
  transform: scale(1.15);
}
